/* common styles start */

/* common sryles end */

/* Сітка із застосуванням flex-box */

/* Чем мы занимаемся */

/* Чем мы занимаемся конец */

/* Список работ */

/* Список работ end */

/* Header section */

/* .header-contact--focus:not(:last-child) {
	margin-right: 50px;
}

.header-contact--focus:hover,
.header-contact--focus:focus {
	color: var(--accent-txt-color);
	cursor: pointer;
} */

/* Header section end*/

/* Hero section */

/* Hero section end */

/* Portfolio button */

/* Portfolio button end*/

/* Benefits */

/* Benefits and */

/* Team */

/* Team end */

/* Regular customers */

/* Regular customers end */

/* Footer */

/* Footer end */

/* Modal window */

/* Modal window end*/
