button {
	display: flex;
	align-items: center;
	text-align: center;
	// margin: 0 auto;
	cursor: pointer;
	border: none;
}

.btn {
	border-radius: 4px;

	&:hover,
	&:focus {
		background-color: #188ce8;
	}
}

.main-color-btn {
	color: var(--main-color-btn);
}

.hero-btn {
	margin: 0 auto;
	padding: 10px 30px;
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: var(--color-light);
	background-color: var(--accent-txt-color);
	transition: var(--anim-slow);
}
