// .subscribe {
// 	// margin-left: auto;

// 	text-align: center;
// 	font-family: var(--main-font);
// 	font-weight: 700;
// 	font-size: 14px;
// 	line-height: 1.14;
// 	letter-spacing: 0.03em;
// 	text-transform: uppercase;
// 	color: #ffffff;
// 	margin-bottom: 20px;

// 	@media screen and (min-width: 1200px) {
// 		display: flex;
// 		text-align: left;
// 		align-items: center;
// 	}
// }

.subscribe__txt {
	text-align: center;
	font-family: var(--main-font);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 20px;

	@media screen and (min-width: 1200px) {
		display: flex;
		text-align: left;
		align-items: center;
	}
}

.subscribe__mail {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	margin: auto;

	@media screen and (min-width: 1200px) {
		display: flex;
	}
}

.subscribe__input {
	width: 100%;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	align-items: center;
	letter-spacing: 0.03em;
	margin-right: 12px;

	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	padding: 15px 16px;
	cursor: pointer;
	background-color: transparent;
	color: #fff;

	// width: 358px;
	// height: 50px;
	// border-radius: 4px;

	&:hover,
	&:focus {
		border: 1px solid var(--accent-txt-color);
		outline: none;
	}

	@media screen and (min-width: 768px) {
		width: 450px;
		height: 50px;
	}
	@media screen and (min-width: 1200px) {
		width: 358px;
		height: 50px;
		margin-right: 12px;
	}
}

.subscribe__input::placeholder {
	color: rgba(117, 117, 117, 0.5);
}

.subscribe-btn {
	position: absolute;
	display: flex;
	align-items: center;
	text-align: center;

	width: 200px;
	height: 50px;
	padding: 10px 30px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: var(--color-light);
	background-color: var(--accent-txt-color);
	transition: var(--anim-slow);

	border-radius: 4px;

	& {
		font-weight: 700;
		font-size: 16px;
		line-height: 1.88;
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: 0.06em;
		margin-right: 10px;

		color: #ffffff;
	}
}
