.uppertitle {
	font-weight: 900;
	font-size: 26px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--color-light);
	max-width: 360px;
	margin: 0 auto;
	margin-bottom: 30px;

	@media screen and (min-width: 1200px) {
		max-width: 696px;
		font-size: 44px;
		letter-spacing: 1, 36;
	}
}
