:root {
	/* fonts */
	--main-font: "Roboto";
	--secondary-font: "Raleway";

	/* text colors */
	--accent-txt-color: #2196f3;
	--main-color-btn: #212121;
	--card-text: #757575;
	--bg-color: #2f303a;
	--color-light: #ffffff;

	/* bg-colors */

	/* others */

	--items: 3;
	--indent: 30px;
	--anim-slow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
